* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-image: url("./Images/warmBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 30px !important;
}

.searchBox {
  min-height: 5vh !important;
}

.alert {
  margin: 0px !important;
}

.header {
  min-height: 50vh;
}

.cityName {
  padding-top: 10vh;
  font-size: 5rem;
}

.date {
  font-size: 2rem;
  font-style: italic;
}

.temperatureBox {
  height: 50%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff57;
  border-radius: 8px;
  font-size: 3rem;
}

.temperatureBox p {
  font-size: 1rem !important;
}

.mainTempBox,
.statsTemp {
  height: 100% !important;
  justify-content: center;
  align-items: center;
}

.iconImg {
  display: block;
  margin: auto !important;
}

.iconImg > img {
  background-color: #6868689d;
  border-radius: 6px;
}

.temp {
  height: 100%;
  display: flex;
  align-items: center;
}

.stringTempBox {
  width: 100%;
}

.mainTemp,
.stringWeather {
  width: 100%;
}

.cold {
  background-image: url("./Images/coldBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.mainTempBox,
.statsTemp {
  margin-top: 3vh;
  padding-bottom: 5vh;
}

.loading {
  color: gray;
  font-size: 3rem;
}

.error {
  color: red;
  font-size: 1.5rem;
}
