* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.app {
  min-height: 100vh;
  background-image: url("./Images/warmBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 30px !important;
}

.searchBox {
  min-height: 5vh !important;
  margin-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.alert {
  margin: 0px !important;
}

.link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.link .btn {
  margin: 0px 2px;
  width: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.link a,
.link a:hover {
  color: #fff;
  text-decoration: none;
}

.header {
  min-height: 30vh;
}

.cityName {
  padding-top: 10vh;
  font-size: 4rem;
  text-align: center;
  color: rgb(58, 58, 58);
  text-shadow: 2px 4px 2px #969697;
}

.cityName > .alert {
  width: 100%;
}

.tempInfo {
  align-items: center;
}

.temperatureBox {
  height: 50%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff57;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: rgb(58, 58, 58);
}

.mainTempBox,
.statsTemp {
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.iconImg {
  display: block;
  margin: auto;
  align-self: center;
}

.iconImg > img {
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 13px -5px,
    rgba(0, 0, 0, 0.3) 0px 4px 8px -8px;
}

.currentDay {
  font-size: 1.2rem;
  padding-top: 0px !important;
  width: 100%;
}

.currentDate {
  font-size: 1rem;
  padding-top: 0px !important;
  width: 100%;
}

.temp {
  height: 100%;
  width: 100%;
  align-items: center;
}

.stringTempBox {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.mainTemp {
  font-size: 3rem;
}

.stringTempBox > .col {
  width: 100%;
}

.stringWeather {
  font-size: 1.8rem;
}

.mainTemp,
.stringWeather {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  align-items: center;
}

.cold {
  background-image: url("./Images/coldBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.mainTempBox,
.statsTemp {
  margin-top: 3vh;
  padding-bottom: 5vh;
}

.statsTemp p {
  font-size: 0.85rem;
}

.statsTemp > div {
  padding: 0px 50px;
}

.statsTemp .alert {
  padding-bottom: 5px;
  font-size: 1.5rem;
}

hr {
  margin-bottom: 0px;
}

.loading {
  color: gray;
  font-size: 3rem;
}

.error {
  color: red;
  font-size: 1.5rem;
}
